# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.env/

# Environment variables
.env
.env-prod

# Database files
*.db

# Database backups
backup_*.json
# Jupyter Notebook checkpoints
.ipynb_checkpoints/